<a href="https://colab.research.google.com/github/ellastinks/ellastinks/blob/main/Fix_Broken_Code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE 1

In [ ]:
print("Hello, world!")

What was the error ?
Answer : Missing speech marks

In [ ]:
my_number = 10
print(my_number)

What was the error ?
Answer : variable misspelt on second line

In [ ]:
def greet():
  name = input("Enter your name: ")
  print("Hello, " + name)

What was the error ?
Answer : second and third line needed to be indented

In [ ]:
age = int(input("Enter your age: "))
print("Next year, you will be " + (age + 1))

What was the error ?
Answer : age needs to be declared as an integer

In [2]:
def add_numbers(a,b):
    return a + b
print(add_numbers(5, 3))

8

What was the error ?
Answer : variable misspelt on third line, apostrophies need removing and "A,B" needs to be lowercase

In [ ]:
def multiply(x, y):
return X * Y

print(multiply(4, 2))

What was the error ?
Answer : 'x' cannot be used to multiply - '*' whereas can

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i)

What was the error ?
Answer : missing colon on line 2, and brackets needed on line 3

In [ ]:
student = {"name": "Alex", "age": 21}
print(student1["name"])

What was the error ?
Answer : 'print' misspelt and speech marks needed around 'name' both on line 2

In [ ]:
def check_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

check_even(4)

What was the error ?
Answer : requires double equal sign on line 2