<a href="https://colab.research.google.com/github/ellastinks/ellastinks/blob/main/python_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercises 2

## Exercise 1: Defining Functions
### Task:
Write a function called `greet` that takes a name as a parameter and returns "Hello, Yourname!".

In [ ]:
def greet():
  name = input("What is your name?")
  print("Hello, ", name)

greet()

What is your name?Jenna
Hello,  Jenna

## Exercise 2: Function with Default Parameter
### Task:
Write a function `power` that takes two arguments: a base and an exponent (default to 2). It should return the base raised to the exponent.

## Exercise 3: List Operations
### Task:
Create a list of five numbers. Write a loop to print each number in the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
  print(i)

1
2
3
4
5


## Exercise 4: List Modification
### Task:
Write a function that takes a list and returns a new list with each element squared.

In [ ]:
list = [1, 2, 3, 4, 5]
def squared(list):
  return [x ** 2 for x in list]

squared(list)

[1, 4, 9, 16, 25]

## Exercise 5: Looping through a Dictionary
### Task:
Create a dictionary with three key-value pairs representing a student's name, age, and grade. Write a loop to print each key and its corresponding value.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
print(student["name"])
print(student["age"])
print(student["grade"])

Alice
20
A

## Exercise 6: Nested Loops
### Task:
Write a function that generates a multiplication table for numbers 1 through 5 using nested loops.

In [4]:
def table():
  for i in range(1,6):
    for j in range(1,6):
      print(f"{i}*{j} = ",(i*j))
    print()

table()

1*1 =  1
1*2 =  2
1*3 =  3
1*4 =  4
1*5 =  5

2*1 =  2
2*2 =  4
2*3 =  6
2*4 =  8
2*5 =  10

3*1 =  3
3*2 =  6
3*3 =  9
3*4 =  12
3*5 =  15

4*1 =  4
4*2 =  8
4*3 =  12
4*4 =  16
4*5 =  20

5*1 =  5
5*2 =  10
5*3 =  15
5*4 =  20
5*5 =  25

## Exercise 7: Filtering a List
### Task:
Write a function that takes a list of numbers and returns a new list containing only even numbers.

In [ ]:
list = [1, 2, 3, 4, 5, 6]
def even(list):
    return [x % 2 == 0 for x in list]

even(list)

[False, True, False, True, False, True]